.background {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #f6f6f6;
    z-index: -11;
}

.color-spread-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, 0%);
    width: 550px;
    height: 800px;
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    background: radial-gradient(circle at 50% 50%, rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
    opacity: 0.2;
}

.color-spread-left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 800px;
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    background: radial-gradient(circle at 50% 50%, rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
    opacity: 0.2;
}

.group-item-container {
    max-width: 50rem;
    margin-inline: auto;
    position: relative;
    padding-top: 0.5rem;

    --left-gap: 3.5rem;
    --border: 1px dotted;
}

.item-button {
    float: right;
    margin-right: 1rem;
    margin-top: -1.5rem;
    background: linear-gradient(90deg, #f9e4ff45, #ffffff45);
    position: relative;
    z-index: 1;
    padding-inline: 0.3rem;
    backdrop-filter: blur(100px);
    border-radius: 15px;
    overflow: hidden;
}

.item-button button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
}

.item-button button:first-child {
    margin-right: 0.4rem;
    background: #fadada;
    color: #ea6060;
}

.item-button button:last-child {
    background: #e6d5ee;
    color: lightseagreen;
}


.item-details {
    position: relative;
    border: var(--border);
    border-radius: 15px;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
}

.item-details::before {
    content: '';
    position: absolute;
    height: 1.2rem;
    width: 0.6rem;
    top: 99.5%;
    left: 5rem;
    border: var(--border);
    border-top: 2px solid #f2eaf4fc;
    border-bottom: 2px solid #f2eaf4fc;
    z-index: 1;
}

.wrapper {
    margin-left: var(--left-gap);
    padding-top: 1rem;
}

.item-icon {
    position: absolute;
    font-size: 2.4rem;
    top: -20%;
    background: #f9e4ff45;
    backdrop-filter: blur(100px);
    color: lightseagreen;
}

.paidby {
    isolation: isolate;
}

.paidby img {
    height: 3rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.shared-info {
    position: relative;
    margin-top: 1rem;
    border-radius: 15px;
    padding-left: 0.5rem;
    border: var(--border);
    padding-block: 0.5rem;
}

.shared-info::before {
    content: '';
    position: absolute;
    height: calc(100% - 2.5rem);
    background: #bdbcbc;
    width: 0.9px;
    bottom: 1.5rem;
    left: 2rem;
}

.shared-with {
    margin-left: var(--left-gap);
    margin-bottom: 0.3rem;
    position: relative;
}

.shared-with::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -2rem;
    width: 1.5rem;
    height: 5px;
    border-bottom: 1.3px solid #bdbcbc;
    border-left: 1px solid #b7b6b6;
    border-bottom-left-radius: 10px;
}

.item-name { 
    font-weight: bold;
    font-size: larger;
}

.item-amount {
    font-weight: bold;
    color: green;
}

.item-timestamp {
    font-size: x-small;
}

.shared-with {
    font-size: small;
    color: grey;
}

/* ****************delete modal**************** */

.delete-modal {
    transition-duration: 0.3s;
    border: none;
    outline: none;
    box-shadow: 0px 4px 12px -2px;
    border-radius: 20px;
    overflow: hidden;
    width: min(70%, 20rem);
    /* height: max-content; */
    min-height: 10rem;
}

.delete-modal::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
    /* height: 100%; */
    padding-block: 0.5rem;
}

.modal-wrapper .warning {
    color: red;
    background: #ffe1e1;
    border-radius: 50%;
    padding: 0.5rem;
}

.delete-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-wrapper h1,.modal-wrapper h3 {
    text-align: center;
}

.modal-wrapper h1 {
    font-weight: bold;
    font-size: x-large;
}

.modal-wrapper h3 {
    font-weight: lighter;
}

.modal-wrapper .button-group {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.modal-wrapper .button-group button {
    border: none;
    flex-grow: 1;
    border-radius: 20px;
    height: 2.5rem;
}

.modal-wrapper .button-group .confirm {
    background: #f4a9a9;
}

/* ********************edit expense form********************* */

.edit-expense-container {
    background: #ffffff3d;
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 11;
    left: -120%;
    width: 100vw;
    height: 100vh;
    top: 0;
    transition: 0.5s;
}

.manage-user,.edit-expense {
    max-width: 50rem;
    margin-inline: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100svh;
}

.header {
    display: flex;
    align-items: center;
}

.header .back-btn {
    background: none;
    border: none;
    padding-left: 1rem;
    z-index: 1;
}

.header span {
    flex-grow: 1;
    text-align: center;
    margin-left: -3rem;
    font-size: large;
    font-family: sans-serif;
}

.header span input {
    background: none;
    border: none;
    border-bottom: 2.5px solid;
    border-image-source: linear-gradient(90deg, #1b96ff, #d048fd, #2db952);
    border-image-slice: 1;
    text-align: center;
    outline: none;
    height: 2rem;
    width: 14rem;
    border-radius: 15px;
}

.input-container {
    text-align: center;
    position: relative;
}

.input-container input {
    border-radius: 15px;
    padding-inline: 1rem 0.5rem;
    height: 2rem;
    width: 15rem;
    border: none;
    box-shadow: 0 0 5px 0;
}

.input-container input[type="text"]:focus,
.input-container input[type="number"]:focus,
.input-container select:focus   {
    outline: 2px solid #1b96ff;
}

.input-container button {
    background: none;
    border: none;
    position: absolute;
    transform: translate(-2.2rem, 0.25rem);
    border-radius: 15px;
}

.selected-users {
    height: 6rem;
    display: flex;
    gap: 1.2rem;
    padding-inline: 1.5rem;
    overflow: auto;
    flex-shrink: 0;
}

.user-card .image {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: relative;
    margin-inline: auto;
}

.user-card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-card .close-btn {
    background: white;
    border: 1px solid;
    border-radius: 50%;
    font-size: small;
    padding: 0;
    position: absolute;
    right: 0.01rem;
    top: 0.1rem;
}

.user-card p {
    text-align: center;
    font-size: small;
}

.all-users {
    background: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: auto;
    flex-grow: 1;
    border-top: 1px solid lightgrey;
    margin-top: -0.5rem;
}

.all-users ul {
    padding-top: 0.5rem;
}

.all-users ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.all-users ul li .display-picture {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-left: 1rem;
    flex-shrink: 0;
}

.all-users ul li .display-picture img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.all-users ul li .username {
    flex-grow: 1;
    align-content: center;
    padding: 1.5rem;
    padding-left: 0;
    border-bottom: 1px solid lightgrey;
    position: relative;

}

.indv-input input {
    width: 50%;
    border: none;
    outline: none;
    border-bottom: 2px solid cadetblue;
    text-align: center;
}

li .username .material-symbols-outlined {
    display: none;
    position: absolute;
    right: 1rem;
    top: 30%;
    border-radius: 50%;
    background: limegreen;
}

.create-expense-btn,
.manage-member-btn {
    position: absolute;
    z-index: 1;
    right: 20%;
    bottom: 10%;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 3rem;
    background: #00ff6247;
    border: none;
    box-shadow: 0 0 5px 0;
}

.edit-expense .input-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
}

.edit-expense .input-container input,
.edit-expense .input-container select {
    width: min(30rem, 100%);
    margin-inline: auto;
    height: 2rem;
    border-radius: 15px;
    padding-inline: 0.7rem;
}

.share-modal {
    transition-duration: 0.3s;
    border: none;
    outline: none;
    box-shadow: 0px 4px 12px -2px;
    border-radius: 20px;
    overflow: hidden;
    width: min(70%, 20rem);
    height: max-content;
}


.share-modal::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
    height: 100%;
    padding-block: 0.5rem;
}

.modal-wrapper .warning {
    color: red;
    background: #ffe1e1;
    border-radius: 50%;
    padding: 0.5rem;
}

.warning-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-wrapper h1,.modal-wrapper h3 {
    text-align: center;
}

.modal-wrapper h1 {
    font-weight: bold;
    font-size: x-large;
}

.modal-wrapper h3 {
    font-weight: lighter;
}

.modal-wrapper .button-group {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.modal-wrapper .button-group button {
    border: none;
    flex-grow: 1;
    border-radius: 20px;
    height: 2.5rem;
}

.modal-wrapper .button-group .confirm {
    background: #f4a9a9;
}

.share-modal .button-group button {
    background: lightgrey;
}

button:active {
    animation: scale-down-effect 0.2s;
}

@keyframes scale-down-effect {
    0% {
        transform: scale(0.8);
    }
}


/* ************** animation ************** */

button:active {
    animation: scale-down-effect 0.2s;
}

@keyframes scale-down-effect {
    0% {
        transform: scale(0.8);
    }
}

/* loader */

.loader {
    transform: translateZ(1px);
    background: #0000004f;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .loader:after {
    content: '$';
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height:40px;
    font-size: 32px;
    font-weight: bold;
    background: #FFD700;
    color: #DAA520;
    border: 4px double ;
    box-sizing: border-box;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
    animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
  @keyframes coin-flip {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
}
